/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
   }
   #wrapper{
    width: 950px;
    background-color: #1b335d;
    margin: 0px auto;
    padding: 15px;
   }
   #header{
    padding: 15px;
    border-radius: 15px;
    color: silver;
    margin-bottom:10px;
    background-color: #cf2f36;
   }
   #navigation{
    width: 200px;
    display: inline-block;
    vertical-align: top;
    padding: 15px;
    border-radius: 15px;
    background-color: #2a7d8c;
   }
   #main_content{
    width: 660px;
    display: inline-block;
    margin-left: 10px;
    padding: 20px;
    border-radius: 15px;
    background-color: #0e1822;
    color: silver;
   }
   #advertisement{
    padding: 15px;
    border-radius: 15px;
    margin-top:10px;
    background-color: #525d6f;
   }
   ul{
       margin-left: 10px;
       list-style-position: inside;
   }
    
    #advertisement a {
        color:#40a8c2;
    }
    #navigation a {
        color:#40a8c2;
    }
    #holi {
        list-style-type: none;
    }
    #main_content a{
        color: #40a8c2;
    }
  .bullets li{
    list-style-position: initial;
  }

  #main_content span{
      color: blueviolet;
  }
        
    


    